body{
    background-image: linear-gradient(to right,rgba(6, 6, 237, 0.863),rgb(3, 3, 62));
}
.form-group{
    grid-area: search;
}
.item2{
    grid-area: today;
}
.item3{
    grid-area: history;
}
.item4{
    grid-area: forecastCard;
}
.item1{
     position: absolute;
     display: grid;
     grid-template-areas: "search search"
    "today today today today"
    "history history"
    "forecastCard forecastCard forecastCard forecastCard";
    width: 1400px;
    height: 1400px;
    background-color: white;
}
.search{ 
    background-color: white;
    top:60px;
    position: relative;
 
    padding-left:10px;
  
}
h1{
    color: white;
    text-align: center;
   
}
#search-input{
    top:5px;
    width: 170px;
    height: 20px;
}
#search-button{
    background-color: rgb(109, 172, 220);
    width: 170px;
    margin:10px 10px 10px 0px;
    border-style:none;
    color:white;
}
#today{
    border-style: solid;
}

#forecast{
  gap: 15px;
}

.card{
    display: inline-block;
    width:200px ;
    height: 200px;
    background-color: blue;
    color: white;
}
